* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}




body {
    background-color: lightblue;
}


/* Header Styling */

.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
    border: 3px black solid;
}

.header nav {
    margin-right: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header h1 {
    text-align:center ;
}
    
.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: black;
    text-decoration: none;
}

p {
    font-size: 16px;
}
/* Sets Style for banner image */
.hero {height: 400px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/banner.jpg");
    background-size: cover;
    background-position: center;
    opacity: 80%;
}


.hero h1 {
	font-family: Raleway, sans-serif;
    font-weight: bold;
    font-size: larger;
    color:darkred;
    text-align: center;
    padding: 50px;
}
/* FStyle condtions */
.content {
    width: 75%;
    display: inline-block;
    
}
/* Style condtions */
.float-left {
    float: left;
    margin-right: 25px;
}
/* Style condtions */
.float-right {
    float: right;
    margin-left: 25px;
}
/* Style condtions */
.center {
    margin: auto;
    width: 50%;
}
/* Styling for about me section */
.about-me {
    margin: auto;
    width: 50%;
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: white;
    color:black;
    border: 3px black solid;
}
.about-me h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
.about-me img {
    max-height: 100px;
}
/* Styling for major project section */
.major {
    margin: auto;
    width: 50%;
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: white;
    color:black;
    border: 3px black solid;
}
.major h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
.major img {
    max-height: 100px;
}


  
.justify-center {
    justify-content: center;
  }
  
/* Styling for containers */
.flex-container {
    display: flex;
    flex-direction: row;
    font-size: 30px;
    text-align: center;
    flex-wrap: wrap;
    margin: 20px;
    padding: 20px;
  }



.flex-container img  {
    max-height: 100px;
}

.flex-container img:hover{
    opacity: 125%;
}

.flex-item-left {
    background-color: #f1f1f1;
    padding: 10px;
    flex: 50%;
    border: 1px black solid;
    max-width: 200px;

  }




.flex-item-right {
    background-color: white;
    padding: 10px;
    flex: 50%;
    background-image: url(Assets/images/comingsoon.png);
  }
  
/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 600px) {
    .flex-container {
      flex-direction: column;
    }
  }


  /* Hover styling for links */
a:visited {
    background-color: cyan;
  }
  
a:hover {
    background-color: lightgreen;
  }
  
a:active {
    background-color: hotpink;
  } 
 /* Hover styling for links */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
/* Hover styling for links */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }
  
.tooltip:hover .tooltiptext {
    visibility: visible;
  } 
/* Styling for contact section */
.contact {
       padding: 50px;
    height: 200px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: white;
    color:black;
    border: 3px black solid;

}  

.contact h1 {
    margin-bottom: 20px;
    font-size: 36px;
    text-align: center;
}

.contact a {
    padding: 10px;
    border-radius: 15px;
    border: 2px black solid;
    text-align: center;
    margin: 10px;
}
.contact p{
    margin: 10px;
    padding: 10px;
    text-align: center;
}

/* Sets padding, font andf text for footer */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}

@media only screen and  (min-width: 768px) {
    .body {
        flex-direction: column;
      }
    }
/* tablets and desktop */


@media only screen and (max-width: 767px) {
    .body {
        flex-direction: column;
      }
    }

@media only screen and (max-width: 767px) and (orientation: portrait) {
    .body{
        flex-direction: column;
      }
    }